<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mythos.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

	<!-- 百度地图所需权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />  
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />  
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />  
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />  
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  
	<uses-permission android:name="android.permission.INTERNET" />  
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />  
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />  
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />  
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />  
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />  
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />  
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
        
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 百度地图密钥app key -->
        <meta-data  
        android:name="com.baidu.lbsapi.API_KEY"  
        android:value="27FuP8pz1boclNA5CuidG2Gp" />
        
        
        <!-- service -->
        <service
            android:name=".example.mina.MinaClientService"
            android:enabled="true" >
        </service>
        
        <!-- Activity -->
        
        <!-- mina实现即时聊天demo -->
        <activity
            android:name=".ui.MinaChatActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        
        <!-- 百度地图demo -->
        <activity
            android:name=".ui.BaiduMapActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        
        <!-- 主Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
